# Ignore nix build output
result

# This is platform specific, so local backups are a little more helpful
hardware-configuration.nix*

secrets.nix

# This should be a device-specific attribute set of network names to
# networkmanager configurations
networking/networks.nix
# This should be a file with the name of each interface on a separate line
networking/interfaces.txt
